@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root {
  --text-font: 'Playfair Display', serif;
  --orange-one: #E97204;
  --orange-two: #E26A12;
  --black-one: #1E1A1A;
  --black-two: #181414;
  --black-three: #1C1A16;
  --black-four: #1A1714;
}

body {
  font-family: var(--text-font);
}

button {
  font-family: var(--text-font);
}

/* ============================== HEADER ============================== */

header {
  background-color: var(--black-one);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 10em;
}

header img {
  height: 100px;
  width: 100px;
  justify-self: flex-start;
  margin-left: 10px;
}

header div {
  position: relative;
  display: inline-block;
}

header div h1:first-of-type {
  position: absolute;
  top: 15%;
  transform: translateY(-50%);
  right: 50%
}

header h1 {
  color: white;
  text-align: center;
}

header h1:first-of-type {
  font-size: 1.5rem;
}

header h1:last-of-type {
  font-size: 3rem;
}

/* ============================== NEWS FEED ============================== */

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.feedContainer {
  margin: 40px auto 90px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

a {
  color: var(--black-one);
  text-decoration: none;
}

a:visited {
  color: var(--black-one);
  text-decoration: none;
}

a:hover {
  color: var(--orange-one);
}

.articleContainer {
  padding: 15px;
  width: 400px;
  box-shadow: 0 0 8px 0 rgba(30, 26, 26, 0.5);
  position: relative;
}

.articleContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  width: 2px;
  height: 0%;
  background-color: var(--orange-one);
  transition: height 1s ease;
}

.articleContainer:hover::before {
  height: 100%;
}

.articleContainer img {
  width: 400px;
  margin-bottom: 15px;
  opacity: 0.8;
}

.articleContainer p {
  color: var(--black-one);
  opacity: 0.9;
  margin-top: 10px;
  max-height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ============================== BUTTON BAR ============================== */

.buttonBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;
}

.inactiveButton, .activeButton {
  color: var(--black-one);
  border: 2px solid var(--black-one);
  font-size: 1rem;
  height: 40px;
  width: 40px;
}

.inactiveButton {
  background-color: white;
}

.inactiveButton:hover {
  cursor: pointer;
  background-color: var(--black-one);
  color: white;
}

.activeButton {
  background-color: var(--black-one);
  color: white;
  height: 50px;
  width: 50px;
  transition: 0.5s ease-in-out;
}

/* ============================== FORM ============================== */

.registerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  width: 100%;
  gap: 20px;
}

.registerHeader h2 {
  font-size: 2rem;
  color: var(--black-one);
}

.line {
  background-color: var(--black-one);
  height: 0.1rem;
  width: 300px;
}

.inputContainer {
  position: relative;
  display: inline-block;
}

.formSection {
  position: relative;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.formSection p {
  text-align: center;
  color: var(--black-one);
}

input {
  height: 40px;
  width: 330px;
  border: 1.5px solid var(--black-one);
  text-indent: 10px;
  font-family: var(--text-font);
}

.errorCheck {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;
  color: var(--black-one);
  opacity: 0.4;
}

input::placeholder {
  opacity: 0.5;
  font-family: var(--text-font);
  text-indent: 10px;
}

.registerButton {
  background-color: var(--black-one);
  color: white;
  font-size: 1rem;
  height: 40px;
  width: 80px;
  border: none;
}

.registerButton:hover {
  cursor: pointer;
  background-color: var(--orange-one);
}

/* ============================== FOOTER ============================== */

footer {
  background-color: var(--black-one);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  height: 80px;
  margin-top: 65px;
}

footer p {
  font-size: 0.7rem;
}

footer img {
  width: 50px;
  height: 50px;
  justify-self: center;
}

footer p {
  text-align: center;
  color: white;
}

/* ============================== MEDIA QUERIES ============================== */

@media (max-width: 900px) {
  .feedContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 720px) {
  .line {
    width: 200px;
  }
}

@media(max-width: 500px) {
  header img {
    display: none;
  }

  header {
    height: 9em;
    grid-template-columns: 1fr;
  }

  .feedContainer {
    margin: 40px auto 50px auto;
  }

  .articleContainer {
    width: 300px;
  }

  .articleContainer img {
    width: 300px;
  }

  .buttonBar {
    gap: 10px;
  }

  .inactiveButton, .activeButton {
    height: 35px;
    width: 35px;
  }
  
  .activeButton {
    height: 45px;
    width: 45px;
  }

  .registerHeader {
    gap: 10px;
  }
  
  .registerHeader h2 {
    font-size: 1.8rem;
  }
  
  .line {
    height: 0.1rem;
    width: 110px;
  }

  .formSection p {
    font-size: 0.9rem;
  }

  input {
    width: 300px;
  }

  footer {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }

  footer p {
    display: none;
  }
}